<h3>Cart</h3>


<table class="table table-striped">
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
	<% @items.each do |item| %>
		<tr>
			<td><%= item[0].title %></td>
			<td><%= item[0].price %></td>
			<td><%= item[1] %></td>
		</tr>
	<% end %>
	</tbody>

</table>